<html lang="es">
<head>
    <meta charset="UTF-8">   
    
    
</head>

<body>

    <div id="app">
        <h1>{{titulo}}</h1>

        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">

        <button @click="agregarFruta">Agregar</button>

        <ul>
            <li v-for="fruta of frutas">
                <input type="number" v-model.number="fruta.cantidad">
                {{fruta.nombre}}
                <button @click="fruta.cantidad++">+</button>
                <span v-if="fruta.cantidad === 0"> - Sin stock</span>
            </li>
        </ul>
        <H4>Total: {{sumarFrutas}}</H4>
    </div> <!-- fin de app-->


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="01.js"></script>



</body>



</html>